<% if( box && box.length > 0 ){ %>
<!--弹框黑背景-->
<div id="Box_Fix"></div>
<% } %>

<% if( box && box.indexOf( "收益计算器" ) > -1 ){ %>
    <div class="Box Global_tool_bar">
        <div class="title">
            <strong>收益计算</strong>
            <a href="javascript:;" class="close"></a>
        </div>
        <div class="center">
            <div class="item">
                <span>投资金额</span>
                <i>
                    <input type="text" name="" value="" placeholder="以元为单位" class="number">
                    <b>元</b>
                </i>
            </div>
            <div class="item">
                <span>年化收益率</span>
                <i>
                    <input type="text" name="" value="" placeholder="1-100%" class="data">
                    <b>%</b>
                </i>
            </div>
            <div class="item">
                <span>投资期限</span>
                <i>
                    <input type="text" name="" value="" placeholder="以天为单位" class="time">
                    <b>天</b>
                </i>
            </div>
            <div class="calculation">
                <span>预期收益：</span>
                <strong>123123</strong>
            </div>
            <div class="btn">
                <a href="javascript:;" class="btnSet">计算</a>
                <a href="javascript:;" class="btnGet">重置</a>
            </div>
        </div>  
    </div>
<% } %>

<% if( box && box.indexOf( "定期-定向委托投资管理说明书" ) > -1){ %>
    <div class="Box Box_protocol Box_protocol_1">
        <div class="Box_protocol_title">
            <span>定向委托投资管理说明书</span>
            <a href="javascript:;" class="close"></a>
        </div>
        <div class="Box_protocol_cent">
            <strong>第一章 重要提示</strong>
            <p>本说明书仅为【贝多宝D170602005】产品项下定向委托投资管理交易（“定向委托投资”）的简要说明，并不构成对相关当事人有法律约束力的文件，具体内容以《定向委托投资管理协议》为准。委托人在确认委托前应仔细阅读本说明书和《定向委托投资管理协议》。</p>
            <p>本次定向委托投资的委托人应保证其为中华人民共和国有关法律法规及本说明书规定的合格委托人，并已阅读并知悉本说明书全文，完全理解此类定向委托投资的性质，了解委托人的权利、义务和其中涉及的相关风险，并愿意自行承担投资风险。委托人应自行判断此类定向委托投资产品是否完全符合委托人资产配置和财务规划的需求。</p>
            <p>本说明书由厦门科狄投资管理有限公司（以下简称“科狄投资”）提供，并委托上海华荻资产管理有限公司运营的映贝金服平台（以下简称“映贝金服”）发布。若对本说明书的内容有任何疑问，请登录映贝金服的网站www.yingbeijf.com，或拨打映贝金服客服热线（400-920-8779）进行咨询。</p>
            <p>本说明书中任何预期收益、最高收益率、测算收益或者任何类似表述均属不具有法律约束力的用语，不代表委托人可获得的实际收益，亦不构成科狄投资及映贝金服对本次交易的任何收益承诺。</p>
            <p>本说明书解释权归科狄投资所有。科狄投资有权根据资产情况、市场情况、监管政策等相应修改本说明书。</p>
            <p class="text_align_right">厦门科狄投资管理有限公司</p>
            <p class="text_align_right">【2017】年【7】月【14】日</p>

            <strong>第二章 名词和解释</strong>
            <p>在本说明书中，除非上下文另有解释或文义另作说明，本说明书中的词语或简称以及所述的解释规则具有如下含义：</p>
            <p>一、各方当事人的定义</p>
            <p>委托人：指定向委托投资法律关系中的一个或多个委托方。</p>
            <p>受托人：指定向委托投资法律关系中的受托方。</p>
            <p>映贝金服：是上海华荻资产管理有限公司运营的映贝金服平台（包括映贝金服网页端、手机应用端等），为定向委托投资关系的委托人及受托人提供信息发布、交易组织等交易辅助及中介等居间服务。</p>
            <p>二、定向委托投资相关的定义</p>
            <p>定向委托投资：委托人基于对科狄投资的信任，自愿将合法所有的资金委托给科狄投资进行管理，资于定向委托投资产品。科狄投资按照委托人利益最大化为原则对定向委托投资资金按约定进行定向投资管理，以获取投资收益。</p>
            <p>定向委托投资产品：定向委托投资产品的具体信息参见本说明书第三章第一部分的内容。</p>
            <p>定向委托投资收益起始日：指定向委托投资资金收益计算的起始日，该日期等同于委托人与受托人定向委托投资法律关系的生效日。</p>
            <p>定向委托投资收益到期日：是指定向委托投资收益计算的到期日，该日期等于定向委托投资产品到期日。如定向委托投资产品发生全部或部分提前到期等情况的，定向委托投资收益到期日相应为定向委托投资产品全部或部分提前到期日期，具体以受托人通知为准。</p>
            <p>定向委托投资收益获得期：是指定向委托投资收益的取得期间，即自定向委托投资收益起始日至定向委托投资收益到期日的期间，该期间为委托人预期收益率的计算期间。如定向委托投资产品发生部分提前到期情况的，定向委托投资收益获得期分别计算。</p>
            <p>定向委托投资总金额：是指受托人受托投资定向委托投资产品而接受委托人定向委托投资资金的总金额。</p>
            <p>定向委托投资金额：是指单一委托人根据《定向委托投资管理协议》自愿向受托人提供的定向委托投资资金的金额，该等委托投资金额的总和即为定向委托投资委托总金额。</p>
            <p>受托人管理费率：是指定向委托投资收益获得期内，受托人管理费用占定向委托投资委托总金额的年化比率。</p>
            <p>委托人预期收益率：是指定向委托投资收益获得期内，预期收益占定向委托投资金额的年化收益比率。本说明书中列示的委托人预期收益率仅供参考，实际收益率以定向委托投资产品扣除相关费用后计算的实际收益率为准。</p>
            <p>委托人预期收款日：指预计向委托人支付其定向委托投资本金及收益的日期。</p>
            <p>工作日：系指受托人的正常营业日（不包括中国的法定公休日和节假日）。</p>
            <p>自然日：系指日历日，包括工作日和非工作日。</p>
            <p>年：系指365个自然日。</p>
            <p>三、交易文件相关的定义</p>
            <p>《定向委托投资管理协议》：由委托人与受托人签订的确认定向委托投资关系的法律文件，明确定向委托投资各方的权利和义务。</p>
            
            <strong>第三章 基本情况</strong>
            <p>本次定向委托投资，是科狄投资作为受托人接受委托人的委托投资于定向委托投资产品的受托投资交易。受托人通过投资定向委托投资产品获得到期偿付的投资本金及收益，并按照《定向委托投资管理协议》的约定向委托人支付定向委托投资本金及收益，同时取得管理费。</p>
            <p>一、定向委托投资产品</p>
            <p>【贝多宝D170602005】	</p>
            <p>二、定向委托投资要素</p>
            <p>产品名称：【贝多宝D170602005】</p>
            <p>交易类型：定向委托投资。</p>
            <p>受托人：厦门科狄投资管理有限公司</p>
            <p>委托人资格：映贝金服特定用户</p>
            <p>委托人定向委托投资委托总金额：【10000000元】</p>
            <p>委托人最低委托金额：【1元】</p>
            <p>定向委托投资收益起始日：自本定向委托投资产品在映贝金服平台上募集期满第二天开始计算收益，如定向委托投资产品提前募集完成，则自提前募集完成后第二天开始计算收益，具体以乙方通过映贝金服平台向甲方通知的日期为准。</p>
            <p>定向委托投资收益获得期：【31】天</p>
            <p>定向委托投资收益到期日：定向委托投资收益计算期满之日</p>
            <p>定向委托投资清算期：定向委托投资资金自定向委托收益到期日（含本日）后即进入清算期，清算期内不计算定向委托投资资金的利息及收益。如定向委托投资产品发生部分提前到期等情况的，定向委托投资清算期相应分别计算。</p>
            <p>管理费率：每年收取定向委托投资产品总值1%。</p>
            <p>委托人预期收益率：本次定向委托投资委托人预期收益率为【9%】/年。</p>
            <p>委托人预期收款日：定向委托投资收益到期日后【1】个自然日内。如因定向委托投资产品未及时偿付等原因，致使委托人实际收款日迟于预期收款日的，受托人应向委托人发出通知，并保证在收到定向委托投资产品本金及收益后三个工作日内，将定向委托投资本金及收益扣除相关费用后的剩余部分足额支付至委托人收款账户内。</p>
            <p>交易币种：人民币</p>
            <p>提前提取定向委托投资资金限制：在委托人交付定向委托投资资金日起，至委托人实际收款日止，委托人不得要求提前提取定向委托投资资金。</p>
            <p>税务处理：本次交易相关的应缴税款由本次交易各方依法自行申报并缴纳，科狄投资及映贝金服不负责代扣代缴。</p>
            <p>委托人收益示例：</p>
            <p>王先生定向委托投资10000元，投资于存续期30天、预期年化收益率7.00%的定期产品，存续期结束后王先生可获取的本金+收益为10058.33元</p>
            
            <strong>第四章 相关方介绍</strong>
            <p>受托人情况介绍</p>
            <p>厦门科狄投资管理有限公司，总部位于中国福建省厦门市，是一家专门为实现资产证券化而设立的信用级别较高的机构公司。它主要从资产原始权益人（即发起人）处购买证券化资产，以自身名义发行资产支持证券进行融资，再将所募集到的资金用于偿还购买发起人基础资产的价款，通过一系列专业化手段降低证券化的成本，解决融资难的问题，通过风险隔离降低证券交易中的风险。</p>
            
            <strong>第五章 信息披露</strong>
            <p>映贝金服根据本说明书的各方当事人的授权进行相关信息披露。</p>
            <p>一、信息披露的形式</p>
            <p>科狄投资作为信息披露责任人授权映贝金服向委托人进行信息披露，披露的形式包括但不限于电子邮件、在映贝金服网站上发布公告、书面信函等。</p>
            <p>二、信息披露的内容</p>
            <p>事件通知</p>
            <p>（1）定向委托投资确认通知</p>
            <p>当委托人与科狄投资（受托人）双方经映贝金服平台订立《定向委托投资管理协议》后，科狄投资将通过映贝金服向委托人进行通知，通知内容包括委托人定向委托投资金额、定向委托投资收益起始日等。</p>
            <p>（2）定向委托投资取消通知</p>
            <p>因各种原因导致定向委托投资不成功的，科狄投资应通过映贝金服通知委托人，通知中应说明定向委托投资不成功的原因。</p>
            <p>（3）定向委托投资本金及收益支付通知</p>
            <p>当定向委托投资本金及收益到达委托人映贝金服账户后，科狄投资通过映贝金服通知委托人，包括委托人实际收益率，委托人的定向委托投资本金及收益以及科狄投资收取的管理费等。</p>
            <p>临时通知</p>
            <p>在定向委托投资运作过程中发生可能对委托人权益产生重大影响的事件时，科狄投资应通过映贝金服通知委托人。</p>
            
            <strong>第六章 风险提示</strong>
            <p>定向委托投资，可能会面临下列风险：</p>
            <p>一、政策风险</p>
            <p>因国家法律、法规、行政规章或政策发生重大调整、变化或其他不可预知的意外事件，可能导致本定向委托投资的有效性发生变化，从而可能导致委托人无法实现预期收益乃至本金遭受损失。</p>
            <p>二、行业风险</p>
            <p>定向委托投资产品所处的行业可能会受经济运行周期性变化，以及所处行业的成熟阶段、上下游供求关系、内部竞争程度、替代品威胁等因素的负面影响，从而发生不利于委托人实现预期收益的变化乃至本金遭受损失。</p>
            <p>三、市场风险</p>
            <p>资金市场供求关系的变化、货币政策、财政政策、行业政策等因素的变化，以及整体经济形势的变化，可能会对利率、汇率、资金成本和商品价格等因素产生负面影响，从而不利于委托人实现 预期收益乃至本金遭受损失。</p>
            <p>四、管理风险</p>
            <p>在委托财产管理运作过程中，受托人的管理能力可能会影响定向委托投资资金的收益水平，此外，受托人对定向委托投资盈利机会的判断是否准确、投资决策所需获取的信息是否完整、投资操作是否出现失误等，都会对定向委托投资资金的预期收益形成不利影响乃至本金遭受损失。</p>
            <p>五、信用风险</p>
            <p>无论何种原因，因定向委托投资产品项下的相对方不能按时偿付本金和收益或者受托方不能按时支付定向委托投资产品项下投资本金和/或收益等原因，将可能导致委托人无法获取收益，甚至本金遭受损失。</p>
            <p>六、提前到期或延期实现预期收益的风险</p>
            <p>如因定向委托投资产品发生全部或部分提前到期情况，导致委托人与受托人之间的定向委托投资关系全部或部分提前到期，相应地委托人定向委托投资收益将按照实际持有天数计算，委托人面临提前收回投资本金、定向委托投资收益少于预期的风险；定向委托投资到期时，若发生前述信用风险，受托人将根据委托人的授权或约定，使用受托人认为适当的方式对定向委托投资产品项下的相对方进行追索，在此过程中，委托人有可能延期实现预期收益乃至本金遭受损失。</p>  
            <p>七、操作风险</p>
            <p>委托人可能会面临如下操作风险：</p>
            <p>1.	不可预测或无法控制的系统故障、设备故障、通讯故障、停电等突发事故将有可能给委托人造成一定损失；</p>
            <p>2.	由于存在互联网和移动通讯网络的黑客恶意攻击可能性，委托人可能会遭受损失；</p>
            <p>3.	委托人的账号及密码信息可能被盗或被泄露，客户身份可能被仿冒，委托人可能遭受因此导致的损失；</p>
            <p>4.	委托人的网络终端设备及软件系统可能会受到非法攻击或病毒感染，导致电子合同数据无法传输或传输失败，从而遭受损失；</p>
            <p>5.	委托人操作不当等原因可能会造成委托人损失；</p>
            <p>6.	网上交易、热键操作完毕，未及时退出，他人进行恶意操作将可能造成委托人损失；</p>
            <p>7.	由于委托人未能及时主动了解定向委托投资产品资产的信息，或由于通信故障、系统故障以及其他不可抗力等因素的影响，可能导致委托人无法及时做出合理决策，造成委托人损失；</p>
            <p>8.	委托人交由他人代理交易，或长期不关注账户变化，可能致使他人恶意操作而造成委托人损失。</p>
            <p>八、其他风险</p>
            <p>1.	由于自然灾害、战争、法律法规或政策等无法避免或无法控制的因素的出现，将影响市场的正常运行，从而导致定向委托投资产品损失，甚至影响该定向委托投资产品的受理、运行、偿付等的正常进行；</p>
            <p>2.	金融市场危机、行业竞争、代理商违约等超出受托人自身直接控制能力之外的风险，也可能导致委托人利益受损；</p>
            <p>3.	受托人因停业、解散、撤销、破产，或者被监管机构撤销相关业务许可等原因不能履行职责时，可能导致委托资产的损失；</p>
            <p>4.	因其他意外因素和不可抗力而导致的风险。</p>
            <strong>以上并不能揭示定向委托投资的全部风险及市场的全部情形。委托人在作出交易决策前，应通过映贝金服公布的信息及其他相关公告了解拟定向委托投资产品的风险收益特征，并根据自身的交易目标、风险承受能力和资产状况等谨慎决策，并自行承担全部风险。</strong>
        </div>
    </div>
<% } %>

<% if( box &&  box.indexOf( "定期-定向委托投资管理协议" ) >-1){ %>
    <div class="Box Box_protocol Box_protocol_2">
        <div class="Box_protocol_title">
            <span>定向委托投资管理协议</span>
            <a href="javascript:;" class="close"></a>
        </div>
        <div class="Box_protocol_cent">
            <strong class="text_align_center">编号：【】</strong>
            <strong class="text_align_center">风险提示及免责声明</strong>

            <strong class="text_align_center">尊敬的用户：（以下称“委托人”或“您”）</strong>

            <p>本《定向委托投资管理协议》系您作为委托人与受托人签署，您依赖于自身独立判断进行定向委托投资，您在做出投资决策前，应全面了解相关定向委托投资标的，谨慎决策。您应对您独立作出的决策承担全部责任，并自行承担全部风险。如发生您与受托人之间产生的相关纠纷，由您自行与受托人解决，映贝金服不承担任何责任。</p>
            <p>您确认，映贝金服仅作为交易服务平台提供信息中介服务，不对任何受托人及/或任何交易提供任何担保，无论是明示、默示或法定的。您在作出交易决策前，应通过映贝金服平台公布的信息及其他相关公告了解拟定向委托投资标的的风险收益特征，并根据自身的交易目标、风险承受能力和资产状况等谨慎决策，并自行承担全部风险。</p>
            <p>您在进行本协议项下定向委托投资可能面临的风险包括：</p>

            <strong>一、政策风险</strong>
            <p>因国家法律、法规、行政规章或政策发生重大调整、变化或其他不可预知的意外事件，可能导致本定向委托投资的有效性发生变化，从而可能导致委托人无法实现预期收益乃至本金遭受损失。</p>
            
            <strong>二、行业风险</strong>
            <p>定向委托投资标的所处的行业可能会受经济运行周期性变化，以及所处行业的成熟阶段、上下游供求关系、内部竞争程度、替代品威胁等因素的负面影响，从而发生不利于委托人实现预期收益的变化乃至本金遭受损失。</p>
            
            <strong>三、市场风险</strong>
            <p>资金市场供求关系的变化、货币政策、财政政策、行业政策等因素的变化，以及整体经济形势的变化，可能会对利率、汇率、资金成本和商品价格等因素产生负面影响，从而不利于委托人实现预期收益乃至本金遭受损失。</p>
            
            <strong>四、管理风险</strong>
            <p>在委托财产管理运作过程中，受托人的管理能力可能会影响定向委托投资资金的收益水平，此外，受托人对定向委托投资盈利机会的判断是否准确、投资决策所需获取的信息是否完整、投资操作是否出现失误等，都会对定向委托投资资金的预期收益形成不利影响乃至本金遭受损失。</p>
            
            <strong>五、信用风险</strong>
            <p>无论何种原因，因定向委托投资标的项下的相对方不能按时偿付本金和收益或者受托方不能按时支付定向委托投资标的项下投资本金和/或收益等原因，将可能导致委托人无法获取收益，甚至本金遭受损失。</p>
            
            <strong>六、提前到期或延期实现预期收益的风险 </strong>
            <p>如因定向委托投资标的发生全部或部分提前到期情况，导致委托人与受托人之间的定向委托投资关系全部或部分提前到期，相应地委托人定向委托投资收益将按照实际持有天数计算，委托人面临提前收回投资本金、定向委托投资收益少于预期的风险；定向委托投资到期时，若发生前述信用风险，受托人将根据委托人的授权或约定，使用受托人认为适当的方式对定向委托投资标的项下的相对方进行追索，在此过程中，委托人有可能延期实现预期收益乃至本金遭受损失。</p>
            
            <strong>七、操作风险</strong>
            <p>委托人可能会面临如下操作风险：</p>
            <p>1. 不可预测或无法控制的系统故障、设备故障、通讯故障、停电等突发事故将有可能给委托人造成一定损失；</p>
            <p>2. 由于存在互联网和移动通讯网络的黑客恶意攻击可能性，委托人可能会遭受损失；</p>
            <p>3. 委托人的账号及密码信息可能被盗或被泄露，客户身份可能被仿冒，委托人可能遭受因此导致的损失；</p>
            <p>4. 委托人的网络终端设备及软件系统可能会受到非法攻击或病毒感染，导致电子合同数据无法传输或传输失败，从而遭受损失；</p>
            <p>5. 委托人操作不当等原因可能会造成委托人损失；</p>
            <p>6. 网上交易、热键操作完毕，未及时退出，他人进行恶意操作将可能造成委托人损失；</p>
            <p>7. 由于委托人未能及时主动了解定向委托投资标的资产的信息，或由于通信故障、系统故障以及其他不可抗力等因素的影响，可能导致委托人无法及时做出合理决策，造成委托人损失；</p>
            <p>8. 委托人交由他人代理交易，或长期不关注账户变化，可能致使他人恶意操作而造成委托人损失。</p>
            <p class="sub-head">八、其他风险</p>
            <p>1. 由于自然灾害、战争、法律法规或政策等无法避免或无法控制的因素的出现，将影响市场的正常运行，从而导致定向委托投资标的损失，甚至影响该定向委托投资标的的受理、运行、偿付等的正常进行；</p>
            <p>2. 金融市场危机、行业竞争、代理商违约等超出受托人自身直接控制能力之外的风险，也可能导致委托人利益受损；</p>
            <p>3. 受托人因停业、解散、撤销、破产，或者被监管机构撤销相关业务许可等原因不能履行职责时，可能导致委托资产的损失；</p>
            <p>4. 因其他意外因素和不可抗力而导致的风险。</p>
            <p>以上并不能揭示定向委托投资的全部风险及市场的全部情形。您在作出交易决策前，应通过映贝金服公布的信息及其他相关公告了解拟定向委托投资标的的风险收益特征，并根据自身的交易目标、风险承受能力和资产状况等谨慎决策，并自行承担全部风险。</p>
            
            <strong>第一部分：定向委托投资明细</strong>
            <table cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <th colspan="4">委托人（甲方）</th>
                    </tr>
                    <tr>
                        <td>姓名</td>
                        <td></td>
                        <td>映贝金服用户名</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>证件类型</td>
                        <td></td>
                        <td>证件号码</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th colspan="4">受托人（乙方）</th>
                    </tr>
                    <tr>
                        <td>名称</td>
                        <td colspan="3"></td>
                    </tr>
                </tbody>
            </table><br>
            <table>
                <tbody>
                    <tr>
                        <th colspan="4">定向委托投资要素</th>
                    </tr>
                    <tr>
                        <td>定向委托投资产品名称</td>
                        <td></td>
                        <td>定向委托投资总金额</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>甲方定向委托投资金额</td>
                        <td></td>
                        <td>乙方管理费率</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>定向委托投资收益方式</td>
                        <td></td>
                        <td>定向委托投资预期收益率</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>定向委托投资收益起始日</td>
                        <td></td>
                        <td>定向委托投资收益获得期</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>定向委托投资收益到期日</td>
                        <td></td>
                        <td>甲方预期收款日</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th colspan="4">定向委托投资标的明细</th>
                    </tr>
                    <tr>
                        <td colspan="4">包括但不限于银行存款、货币基金、保险产品、金融资产收益权等安全性较高、流动性较强的金融资产。</td>
                    </tr>
                </tbody>
            </table><br>
            <p>*注：“定向委托投资预期收益率”、“甲方预期收款日”仅供参考，实际收益以定向委托投资标的实际获得收益扣除相关费用后的数额为准，甲方预期收款日以甲方定向委托投资本金及收益实际到账日为准。</p>

            <strong>第二部分： 定向委托投资管理通用条款</strong>
            <p>第一章 定向委托投资管理协议</p><br>
            <p>第一条 《定向委托投资管理协议》（以下简称“本协议”）由两部分组成：第一部分为“定向委托投资明细”；第二部分为“定向委托投资管理通用条款”。两个部分具有同等法律效力，不可分割。</p>
            <p>第二条 甲方为符合中华人民共和国（“中国”，仅为本协议之目的，不包括香港特别行政区、澳门特别行政区和台湾）法律法规规定的具有完全民事权利能力和民事行为能力，独立行使和承担本协议项下权利义务的自然人，自愿将合法所有资金委托乙方进行定向投资管理。甲方为映贝金服平台（包括网页端以及手机应用端，以下简称“映贝金服”）的注册用户，拥有映贝金服账号。</p>
            <p>第三条 乙方为在中国境内注册并有效存续的公司，愿意接受甲方委托将甲方所委托资金依照本协议约定定向投资于定向委托投资标的。乙方为厦门科狄投资管理有限公司。</p>
            <p>第四条 本协议项下甲方、乙方单独称“一方”，合称“双方”。</p><br>
            <p>第二章 定义与解释</p><br>
            <p>第一条 定义</p>
            <p>1.定向委托投资或委托投资：是指甲方自愿将合法所有的资金委托给乙方定向投资于定向委托投资标的。乙方以甲方利益最大化为原则对定向委托投资资金按约定进行定向投资管理，以获取投资收益。</p>
            <p>2.定向委托投资标的：定向委托投资标的具体信息参见本协议“第一部分 定向委托投资明细”列明的信息。</p>
            <p>3.定向委托投资预期收益率：是指甲方在定向委托投资收益获得期内，预期收益占甲方定向委托投资金额的年化收益比率。本协议中列明的定向委托投资预期收益率仅供参考，甲方实际收益以扣除相关费用后计算的实际收益为准。</p>
            <p>4.定向委托投资总金额：是指乙方受托投资定向委托投资标的而接受委托人定向委托投资资金的总金额。</p>
            <p>5.甲方定向委托投资金额：是指甲方根据本协议的约定，自愿向乙方提供的定向委托投资资金金额。</p>
            <p>6.乙方管理费率：是指定向委托投资收益获得期内，乙方管理费用占定向委托投资总金额的年化比率。</p>
            <p>7.定向委托投资收益起始日：是指定向委托投资资金收益计算的起始日，该日期等同于双方定向委托投资法律关系的生效日。</p>
            <p>8.定向委托投资收益到期日：是指本协议中定向委托投资资金收益计算的到期日。该日期等于定向委托投资标的到期日。如定向委托投资标的发生全部或部分提前到期等情况的，定向委托投资收益到期日相应为定向委托投资标的全部或部分提前到期日期，具体以受托人通知为准。</p>
            <p>9.定向委托投资收益获得期：是指定向委托投资收益的取得期间，即自定向委托投资收益起始日至定向委托投资收益到期日的期间，该期间为委托人预期收益率的计算期间。如定向委托投资标的发生部分提前到期情况的，定向委托投资收益获得期分别计算。</p>
            <p>10.甲方预期收款日：是指预计甲方定向委托投资本金和收益到账的日期。</p>
            <p>11.T日：指定向委托投资、提取定向委托投资资金或其他交易的有效申请日,该等日期为工作日，如投资人申请日为非工作日，则应当自动顺延至下一个工作日为有效申请日。</p>
            <p>12.T+n日：指在T日起第n个工作日（不包含 T 日）。 </p>
            <p>13.甲方收款账户：是指本协议项下甲方指定的作为收取本协议项下相应款项的账户。</p>
            <p>14.乙方收款专户：是指由乙方指定的作为收取委托人向乙方支付的定向委托资金和其他款项的乙方账户。</p>
            <p>15.不可抗力：是指本协议双方不能合理控制、不可预见或即使预见亦无法避免的事件，该事件妨碍、影响或延误任何一方根据本协议履行其全部或部分义务。该事件包括但不限于地震、台风、洪水、火灾、瘟疫、其他天灾、战争、政变、骚乱、罢工或其他类似事件。</p>
            <p>16.工作日：是指乙方的正常营业日（不包括中国的法定公休日和节假日）。</p>
            <p>17.自然日：系指日历日，包括工作日和非工作日。</p>
            <p>18.年：系指365个自然日。</p>
            <p>第二条 关于各方当事人的定义</p>
            <p>1.委托人：指依据本协议委托乙方进行定向投资的全体委托方或其中任何一方(视情况)，包括本协议中的甲方。</p>
            <p>2.受托人：指依据本协议接受委托人委托将其委托资金定向投资于定向委托投资标的的受托方，即乙方。</p>
            <p>3.映贝金服、映贝金服平台：均指映贝金服平台（包括映贝金服网页端、手机应用端等），为定向委托投资关系的委托人及受托人提供信息发布、交易组织等交易辅助及中介等居间服务。</p>
            <p>第三条 本协议未定义或约定的词语，按相关法律、法规及行业惯例解释。</p><br>
            <p>第三章 定向委托投资</p><br>
            <p>第一条 甲方基于对乙方的信任，自愿将合法所有的资金委托乙方进行管理，投资于定向委托投资标的，乙方以甲方利益最大化为原则对定向委托投资资金按约定进行投资管理，以获取投资收益。</p>
            <p>第二条 甲方作为委托人之一，应于定向委托投资生效前向乙方支付本协议第一部分列明的甲方定向委托投资金额，用于乙方按约定进行投资管理和资产配置。</p>
            <p>第三条 在甲方根据本章第二条的约定足额支付了甲方定向委托投资资金的前提下，本协议项下定向委托投资法律关系于本协议第一部分列明的定向委托投资收益起始日生效。</p>
            <p>第四条 本协议项下的定向委托投资法律关系自甲方取得定向委托投资本金及收益，委托目的达成时终止。</p>
            <p>第五条 定向委托投资资金的投资范围限于本协议“第一部分：定向委托投资明细”中列明的定向委托投资标的。甲方同意乙方以乙方自己的名义履行定向委托投资资金的投资管理职能，并签署相应协议。</p>
            <p>第六条 定向委托投资收益，来自于定向委托投资标的所产生的收益。乙方有权收取定向委托投资金额的一定比例作为乙方的管理费，定向委托投资收益获得期内管理费的计算标准以本协议“第一部分定向委托投资明细”中约定的乙方管理费率为准。</p>
            <p>第七条 乙方应按约定向甲方收款账户支付其定向委托投资资金本金及收益。如因定向委托投资标的未及时偿付等原因，致使甲方不能按照本协议约定收取定向委托投资本金及收益的。乙方应向甲方发出通知，并保证在收到定向委托投资标的本金及收益后三个工作日内，将本金及收益扣除相关费用后的剩余部分足额支付至甲方收款账户内。对因定向委托投资标的的相对方原因而造成的乙方不能按约定向甲方支付本金及收益，乙方不承担任何责任。</p>
            <p>第八条 除本协议的附件外，本协议项下的相关信息的更新通知将由乙方通过映贝金服平台（网址：www.yingbeijf.com）通知甲方。</p>
            <p>第九条 在甲方交付定向委托投资资金之日起，至甲方实际收到本金及收益时止，甲方不得要求提前提取定向委托投资资金或提前解除本协议。</p><br>
            <p>第四章 甲方的权利和义务</p><br>
            <p>第一条 甲方自定向委托投资生效日起，享有定向委托投资管理关系中委托人享有的相关权利, 并有权按照本协议的约定取得其定向委托投资产生的收益。</p>
            <p>第二条 甲方保证定向委托投资资金的来源合法；甲方声明已充分理解本协议全文，了解相关权利义务，了解有关法律法规及定向委托投资标的的风险收益特征，愿意承担相应的风险。</p>
            <p>第三条 甲方接受乙方提供的委托投资服务，并同意全权委托乙方对委托资金进行定向投资和操作。</p>
            <p>第四条 甲方不得违反本协议的约定干涉乙方的投资行为。</p>
            <p>第五条 与本协议项下定向委托投资相关的应缴税款由甲方依法自行申报并缴纳，乙方不进行任何形式的代扣代缴。</p>
            <p>第六条 甲方确认在甲方提出定向委托投资申请后，甲方在其映贝金服账户内的资金即被冻结，甲方同意并授权映贝金服及映贝金服合作机构有权从甲方映贝金服账户中扣划相应的定向委托投资资金，并支付至乙方指定的收款账户。对于因甲方原因造成乙方收款账户未能收到甲方定向委托投资资金的，乙方及映贝金服、映贝金服合作机构不承担任何责任，相关定向委托投资不成功的风险由甲方自行承担。</p><br>
            <p>第五章 乙方的权利和义务</p><br>
            <p>第一条 乙方将及时告知甲方任何其知道的影响甲方在本协议项下权利或者甲方履行本协议项下义务的信息。</p>
            <p>第二条 乙方应按照本协议的约定对定向委托投资资金进行定向投资运作。</p>
            <p>第三条 乙方可将定向委托投资标的的相关信息授权映贝金服向甲方及其他委托人进行信息披露，披露的形式包括但不限于电子邮件、在映贝金服网站上发布公告、书面信函等。</p>
            <p>第四条 委托投资期限内，乙方将对如下事件的信息向委托人履行披露义务：</p>
            <p>1.定向委托投资确认通知</p>
            <p>当甲方通过映贝金服平台提交定向委托投资申请且乙方确认接受该等定向委托投资申请后，乙方通过映贝金服平台向甲方通知接受甲方的定向委托投资，通知内容包括甲方此次定向委托资金金额、委托投资生效日、投资收益起算日等。</p>
            <p>2.定向委托投资到账通知</p>
            <p>当定向委托资金及收益到达甲方映贝金服账户后，乙方通过映贝金服平台通知甲方定向委托投资本金及收益到账。</p>
            <p>3.定向委托投资和提取定向委托投资本金及收益未成功通知</p>
            <p>因各种原因导致定向委托投资或提取定向委托投资本金及收益不成功的，乙方应通过映贝金服平台通知甲方，通知中应说明定向委托投资或提取定向委托投资本金及收益不成功的原因。</p>
            <p>第五条 乙方可以自己的名义，行使定向委托投资过程中产生的包括权属登记等内容的权利。</p>
            <p>第六条 乙方应将全体委托人的委托财产与乙方自有资产、不同客户的资产分别管理、分别记账、独立核算。</p>
            <p>第七条 乙方应保存定向委托投资管理业务活动的全部会计资料，并妥善保存有关的合同、协议、交易记录及其他相关资料。</p>
            <p>第八条 如定向委托投资总金额持续低于乙方预期金额或依据乙方合理判断持续该等定向委托投资在商业上已经不再经济合理或因国家法律、政策变动或监管要求等原因，乙方有权单方面解除定向委托投资关系，并依据委托人定向委托投资资产实际价值退回委托人定向委托投资资金，届时乙方应提前通知甲方定向委托投资项目终止事宜。</p>
            <p>第九条 乙方应恪守勤勉尽责的职业操守，严格依照委托人的委托进行定向委托投资。</p><br>
            <p>第六章 通知</p><br>
            <p>第一条 本协议任何一方根据本协议约定做出的通知和/或文件均应以书面形式做出，可由专人送达、挂号邮递、特快专递、或通过映贝金服平台发布等方式传送。</p>
            <p>第二条 通知在下列日期视为送达：</p>
            <p>1.专人递送的通知，在专人递送之交付日为有效送达；</p>
            <p>2.以挂号信（付清邮资）发出的通知，在寄出（以邮戳为凭）后的五个工作日内为有效送达；</p>
            <p>3.以特快专递（付清邮资）发出的通知，在寄出（以邮戳为凭）后的三个工作日内为有效送达；</p>
            <p>4.以传真或电子邮件发出的通知，在电子信息反馈为送达后一个工作日内为有效送达；</p>
            <p>5.以映贝金服站内信发出的通知，在通知到达一方映贝金服账户为有效送达；</p>
            <p>6.以短信方式通知的，在短信发出后视为通知已经送达；</p>
            <p>7.通过映贝金服平台发布的方式通知的，在映贝金服平台发布之日即为有效送达。</p><br>
            <p>第七章 协议生效</p><br>
            <p>第一条 本协议系以电子文本形式签订，自甲方按照映贝金服平台操作规则对本协议内容进行确认并签署后，本协议即生效并对各方具有法律约束力，本协议有效期至本协议约定的定向委托投资法律关系终止之时止。</p>
            <p>第二条 本协议双方委托映贝金服保管所有与本协议有关的文件和信息。本协议双方确认并同意由映贝金服平台提供的与本协议有关的文件和信息在无明显错误的情况下可作为本协议有关事项的终局证明。</p><br>
            <p>第八章 保密条款</p><br>
            <p>第一条 本协议签署后,除非事先得到另一方的书面同意,本协议双方均应承担以下保密义务：</p>
            <p>1.任何一方不得向非本协议方（映贝金服除外）披露本协议以及本协议项下的事宜以及与此等事宜有关的任何文件、资料或信息（“保密信息”）；</p>
            <p>2.任何一方只能将保密信息和其内容用于本协议项下的目的，不得用于任何其他目的。本款的约定不适用于下列信息：</p>
            <p>（1）从披露方获得时，已是公开的；</p>
            <p>（2）从披露方获得前，接受方已经获知的；</p>
            <p>（3）从有正当权限并不受保密义务制约的第三方获得的；及</p>
            <p>（4）非依靠披露方披露或提供的信息独自开发的。</p>
            <p>第二条 本协议双方因下列原因披露保密信息，不受前款的限制：</p>
            <p>1.向本协议双方的合伙人、董事、监事、高级管理人员和雇员及其聘请的会计师、律师、咨询公司披露；</p>
            <p>2.因遵循可适用的法律、法规的强制性规定而披露；及</p>
            <p>3.依据其他应遵守的法规向审批机构和/或权力机构进行的披露。</p>
            <p>第三条 虽然有本协议第八章第一条的约定，甲方同意乙方有权出于为甲方提供服务的目的视情况向其他任何乙方认为必要的业务合作机构披露本协议、甲方资料、保密信息等资料和信息。乙方承诺将要求相关合作机构对乙方披露的信息承担保密义务，但是乙方对于相关合作机构违反保密义务的行为不对甲方承担任何赔偿责任。</p>
            <p>第四条 甲乙双方提供给映贝金服的信息及甲方、乙方接受映贝金服服务产生的相关信息（包括本协议签署之前提供和产生的），由映贝金服进行管理。</p>
            <p>第五条 本协议项下双方同意并承诺，本协议项下一方向另一方提供信息时均应同时将信息提供给映贝金服。本协议双方授权映贝金服根据本协议任意一方的合理要求向其提供本协议另一方向映贝金服提供的所有信息。</p>
            <p>第六条 本协议任何一方应采取所有其他必要、适当和可以采取的措施，以确保保密信息的保密性。</p>
            <p>第七条 本协议项下的保密义务在本协议终止后持续有效。</p><br>
            <p>第九章 解决纠纷的方式</p><br>
            <p>第一条 凡因本协议引起的或与本协议有关的任何争议，应以友好协商为基础，协商不能解决问题的，任何一方有权向上海仲裁委员会提起仲裁，并按照提起仲裁时该会现时有效的仲裁规则在上海进行仲裁，仲裁裁决是终局的，对双方均具有约束力。</p>
            <p>第二条 本协议的效力、解释、变更、执行与争议解决均适用中华人民共和国法律。</p>
            <p>第三条 在仲裁期间，本协议不涉及争议部分且实际可履行的条款仍须继续履行。</p><br>
            <p>第十章 其他事项</p><br>
            <p>第一条 甲、乙双方依照法律规定各自承担本协议订立和履行过程中发生的税费。</p>
            <p>第二条 如任意一方发生不可抗力事件，该方应立即用可能的快捷方式通知另一方，并在15日内提供证明文件说明有关事件的细节和不能履行或部分不能履行或需延迟履行本协议的原因。双方应在协商一致的基础上决定是否延期履行本协议、终止本协议，并达成书面合意。</p>
            <p>第三条 本协议中部分条款根据相关法律法规等的规定成为无效，或部分无效时，该等无效不影响本协议项下其他条款的效力，双方仍应继续履行其在本协议项下义务。</p>
            <p>第四条 本协议项下的附件和补充协议构成本协议不可分割的一部分。</p>
            <p>第五条 本协议项下，甲乙双方持续授权映贝金服提供相应信息服务。</p>
            <p>第六条 甲、乙双方同意并确认：其通过各自映贝金服账户采取的行为所产生的法律效果和法律责任归属于各自本人，其授权和委托映贝金服根据本协议所采取的全部行动和措施的法律后果均归属于各自本人，与映贝金服无关，映贝金服也不应承担任何责任。</p>
            <p>第七条 甲、乙双方同意并确认，凡本协议中涉及映贝金服或者映贝金服账户的相关事宜，以及甲、乙双方各自与映贝金服之间的关系均受其与映贝金服签订的有关协议的约束；本协议规定与上述有关协议不一致的，以上述有关协议的约定为准；凡本协议中出现的与上述有关协议相同的词语或术语，如果在本协议中无特别定义，适用上述有关协议中的定义、涵义或解释。</p><br>
            <p>
                <span class="float_left width_200">委托人（甲方）：</span>
                <span class="float_right width_200">受托人（乙方）：</span>
            </p>
            <p>
                <span class="float_left width_200">日期：</span>
                <span class="float_right width_200">日期：</span>
            </p>
        </div>
    </div>
<% } %>

<% if( box && box.indexOf( "活期-定向委托投资管理说明书" ) > -1){ %>
    <div class="Box Box_protocol Box_protocol_1">
        <div class="Box_protocol_title">
            <span>定向委托投资管理说明书</span>
            <a href="javascript:;" class="close"></a>
        </div>
        <div class="Box_protocol_cent">
            <strong>第一章 重要提示</strong>
            <p>本说明书仅为【贝多宝D170602005】产品项下定向委托投资管理交易（“定向委托投资”）的简要说明，并不构成对相关当事人有法律约束力的文件，具体内容以《定向委托投资管理协议》为准。委托人在确认委托前应仔细阅读本说明书和《定向委托投资管理协议》。</p>
            <p>本次定向委托投资的委托人应保证其为中华人民共和国有关法律法规及本说明书规定的合格委托人，并已阅读并知悉本说明书全文，完全理解此类定向委托投资的性质，了解委托人的权利、义务和其中涉及的相关风险，并愿意自行承担投资风险。委托人应自行判断此类定向委托投资产品是否完全符合委托人资产配置和财务规划的需求。</p>
            <p>本说明书由厦门科狄投资管理有限公司（以下简称“科狄投资”）提供，并委托上海华荻资产管理有限公司运营的映贝金服平台（以下简称“映贝金服”）发布。若对本说明书的内容有任何疑问，请登录映贝金服的网站www.yingbeijf.com，或拨打映贝金服客服热线（400-920-8779）进行咨询。</p>
            <p>本说明书中任何涉及收益的相关表述均属不具有法律约束力的用语，不代表委托人可获得的实际收益，亦不构成科狄投资及映贝金服对本次交易的任何收益承诺。</p>
            <p>本说明书解释权归科狄投资所有。科狄投资有权根据资产情况、市场情况、监管政策等相应修改本说明书。</p>
            <p class="text_align_right">厦门科狄投资管理有限公司</p>
            <p class="text_align_right">2017年【7】月【14】日</p>

            <strong>第二章 名词和解释</strong>
            <p>在本说明书中，除非上下文另有解释或文义另作说明，本说明书中的词语或简称以及所述的解释规则具有如下含义：</p>
            <p>一、各方当事人的定义</p>
            <p>委托人：指定向委托投资法律关系中的一个或多个委托方。</p>
            <p>受托人：指定向委托投资法律关系中的受托方。</p>
            <p>映贝金服：是上海华荻资产管理有限公司运营的映贝金服平台（包括映贝金服网页端、手机应用端等），为定向委托投资关系的委托人及受托人提供信息发布、交易组织等交易辅助及中介等居间服务。</p>
            <p>二、定向委托投资相关的定义</p>
            <p>定向委托投资或委托投资：是指委托人自愿将合法所有的资金委托给受托人定向投资于定向委托投资产品。受托人以委托人利益最大化为原则对定向委托投资资金按约定进行定向投资管理，以获取投资收益。</p>
            <p>定向委托投资产品：定向委托投资产品具体信息参见本说明书“第三章 定向委托投资产品”列明的信息。</p>
            <p>昨日收益：是指根据委托人定向委托投资资金及定向委托投资每万份收益计算得出的前一日委托人获得的可分配收益。</p>
            <p>每万份收益：是指受托人接受委托人委托将定向委托投资资金投资于定向委托投资产品后，受托人通过映贝金服平台公布的该日定向委托投资产品每万份投资的净收益。</p>
            <p>七日年化收益率：是指定向委托投资过去七天的年化收益率的平均值，该收益率反映了产品近期的盈利水平，并不代表未来持有期间的收益。</p>
            <p>委托人定向委托投资金额：是指委托人自愿向受托人提供的定向委托投资资金金额。</p>
            <p>定向委托投资收益起始日：是指定向委托投资资金收益计算的起始日，该日期等同于定向委托投资法律关系的生效日。</p>
            <p>委托人预期收款日：是指预计委托人申请提取定向委托投资本金和收益后，委托人定向委托投资本金及收益到账的日期。</p>
            <p>定向委托投资资产价值：是根据委托人定向委托投资、提取定向委托投资本金及收益情况计算出的委托人定向委托投资资产价值。</p>
            <p>T日：是指委托人通过映贝金服平台提出定向委托投资申请并支付相应的定向委托投资资金之日。或者是指委托人通过映贝金服平台有效提出提取定向委托投资本金及收益申请之日。</p>
            <p>工作日：是指受托人的正常营业日（不包括中国的法定公休日和节假日）。</p>
            <p>自然日：系指日历日，包括工作日和非工作日。</p>
            <p>年：系指365个自然日。 </p>
            <p>三、交易文件相关的定义</p>
            <p>《定向委托投资管理协议》：由委托人与受托人签订的确认定向委托投资关系的法律文件，明确定向委托投资各方的权利和义务。</p>
            
            <strong>第三章 基本情况</strong>
            <p>本次定向委托投资，是科狄投资作为受托人接受委托人的委托投资于定向委托投资产品的受托投资交易。受托人通过投资定向委托投资产品获得投资收益，并按照《定向委托投资管理协议》的约定向委托人支付定向委托投资本金及收益。</p>
            <p>一、定向委托投资产品</p>
            <p>【贝多宝D170602005】	</p>
            <p>二、定向委托投资要素</p>
            <p>产品名称：【贝多宝D170602005】</p>
            <p>交易类型：定向委托投资。</p>
            <p>受托人：厦门科狄投资管理有限公司</p>
            <p>委托人资格：映贝金服特定用户</p>
            <p>定向委托投资期限：无固定期限</p>
            <p>委托人最低委托金额：【1元】</p>
            <p>定向委托投资收益计算规则：【每日结算分配收益，按份额结转】</p>
            <p>定向委托投资收益起始日：【2017-7-14】 </p>
            <p>委托人预期收款日：委托人申请提取定向委托投资本金及收益，乙方确认之日起【1】个工作日内。</p>
            <p>提取定向委托投资本金及收益：受托人有权于定向委托投资收益起始日后（含当日）通过映贝金服平台申请提取定向委托投资本金及收益。</p>
            <p>交易币种：人民币</p>
            <p>税务处理：本次交易相关的应缴税款由本次交易各方依法自行申报并缴纳，科狄投资及映贝金服不负责代扣代缴。</p>
            <p>管理费率：每年收取定向委托投资产品总值1%。</p>
            <p>委托人当日收益示例：</p>
            <p>王先生2万元投资活期产品，开始计算收益后，如果当天公布的万份收益是1.5312，那么王先生当天的实际收益就是2*1.5312=3.06元（截取到小数点后两位）</p>
            
            <strong>第四章 相关方介绍</strong>
            <p>受托人情况介绍</p>
            <p>厦门科狄投资管理有限公司，总部位于中国福建省厦门市，是一家专门为实现资产证券化而设立的信用级别较高的机构公司。它主要从资产原始权益人（即发起人）处购买证券化资产，以自身名义发行资产支持证券进行融资，再将所募集到的资金用于偿还购买发起人基础资产的价款，通过一系列专业化手段降低证券化的成本，解决融资难的问题，通过风险隔离降低证券交易中的风险。</p>
            
            <strong>第五章 信息披露</strong>
            <p>映贝金服根据本说明书的各方当事人的授权进行相关信息披露。</p>
            <p>一、信息披露的形式</p>
            <p>科狄投资作为信息披露责任人授权映贝金服向委托人进行信息披露，披露的形式包括但不限于电子邮件、在映贝金服网站上发布公告、书面信函等。</p>
            <p>二、信息披露的内容</p>
            <p>事件通知</p>
            <p>（1）定向委托投资确认通知</p>
            <p>当委托人与科狄投资（受托人）双方经映贝金服平台订立《定向委托投资管理协议》后，科狄投资将通过映贝金服向委托人进行通知，通知内容包括委托人定向委托投资金额、定向委托投资收益起始日等。</p>
            <p>（2）定向委托投资收益到账通知</p>
            <p>当定向委托投资本金及收益到达委托人收款账户后，受托人通过映贝金服平台通知委托人定向委托投资本金及收益到账。</p>
            <p>（3）定向委托投资和提取定向委托投资本金及收益未成功通知</p>
            <p>因各种原因导致定向委托投资或提取定向委托投资本金及收益不成功的，受托人应通过映贝金服平台通知委托人，通知中应说明定向委托投资或提取定向委托投资本金及收益不成功的原因。</p>
            <p>临时通知</p>
            <p>在定向委托投资运作过程中发生可能对委托人权益产生重大影响的事件时，科狄投资应通过映贝金服通知委托人。</p>
            
            <strong>第六章 风险提示</strong>
            <p>定向委托投资，可能会面临下列风险：</p>
            <p>一、政策风险</p>
            <p>因国家法律、法规、行政规章或政策发生重大调整、变化或其他不可预知的意外事件，可能导致本定向委托投资的有效性发生变化，从而可能导致委托人无法实现预期收益乃至本金遭受损失。</p>
            <p>二、行业风险</p>
            <p>定向委托投资产品所处的行业可能会受经济运行周期性变化，以及所处行业的成熟阶段、上下游供求关系、内部竞争程度、替代品威胁等因素的负面影响，从而发生不利于委托人实现预期收益的变化乃至本金遭受损失。</p>
            <p>三、市场风险</p>
            <p>资金市场供求关系的变化、货币政策、财政政策、行业政策等因素的变化，以及整体经济形势的变化，可能会对利率、汇率、资金成本和商品价格等因素产生负面影响，从而不利于委托人实现 预期收益乃至本金遭受损失。</p>
            <p>四、管理风险</p>
            <p>在委托财产管理运作过程中，受托人的管理能力可能会影响定向委托投资资金的收益水平，此外，受托人对定向委托投资盈利机会的判断是否准确、投资决策所需获取的信息是否完整、投资操作是否出现失误等，都会对定向委托投资资金的预期收益形成不利影响乃至本金遭受损失。</p>
            <p>五、信用风险</p>
            <p>无论何种原因，因定向委托投资产品项下的相对方不能按时偿付本金和收益或者受托方不能按时支付定向委托投资产品项下投资本金和/或收益等原因，将可能导致委托人无法获取收益，甚至本金遭受损失。</p>
            <p>六、操作风险</p>
            <p>委托人可能会面临如下操作风险：</p>
            <p>1.	不可预测或无法控制的系统故障、设备故障、通讯故障、停电等突发事故将有可能给委托人造成一定损失；</p>
            <p>2.	由于存在互联网和移动通讯网络的黑客恶意攻击可能性，委托人可能会遭受损失；</p>
            <p>3.	委托人的账号及密码信息可能被盗或被泄露，客户身份可能被仿冒，委托人可能遭受因此导致的损失；</p>
            <p>4.	委托人的网络终端设备及软件系统可能会受到非法攻击或病毒感染，导致电子合同数据无法传输或传输失败，从而遭受损失；</p>
            <p>5.	委托人操作不当等原因可能会造成委托人损失；</p>
            <p>6.	网上交易、热键操作完毕，未及时退出，他人进行恶意操作将可能造成委托人损失；</p>
            <p>7.	由于委托人未能及时主动了解定向委托投资产品资产的信息，或由于通信故障、系统故障以及其他不可抗力等因素的影响，可能导致委托人无法及时做出合理决策，造成委托人损失；</p>
            <p>8.	委托人交由他人代理交易，或长期不关注账户变化，可能致使他人恶意操作而造成委托人损失。</p>
            <p>七、其他风险</p>
            <p>1.	由于自然灾害、战争、法律法规或政策等无法避免或无法控制的因素的出现，将影响市场的正常运行，从而导致定向委托投资产品损失，甚至影响该定向委托投资产品的受理、运行、偿付等的正常进行；</p>
            <p>2.	金融市场危机、行业竞争、代理商违约等超出受托人自身直接控制能力之外的风险，也可能导致委托人利益受损；</p>
            <p>3.	受托人因停业、解散、撤销、破产，或者被监管机构撤销相关业务许可等原因不能履行职责时，可能导致委托资产的损失；</p>
            <p>4.	因其他意外因素和不可抗力而导致的风险。</p>

            <strong>以上并不能揭示定向委托投资的全部风险及市场的全部情形。委托人在作出交易决策前，应通过映贝金服公布的信息及其他相关公告了解拟定向委托投资产品的风险收益特征，并根据自身的交易目标、风险承受能力和资产状况等谨慎决策，并自行承担全部风险。</strong>
        </div>
    </div>
<% } %>

<% if( box && box.indexOf( "活期-定向委托投资管理协议" ) >-1){ %>
    <div class="Box Box_protocol Box_protocol_2">
        <div class="Box_protocol_title">
            <span>定向委托投资管理协议</span>
            <a href="javascript:;" class="close"></a>
        </div>
        <div class="Box_protocol_cent">
            活期-定向委托投资管理协议
        </div>
    </div>
<% } %>

<% if( box &&  box.indexOf( "产品认购风险揭示书" ) > -1){ %>
    <div class="Box Box_protocol Box_protocol_3">
        <div class="Box_protocol_title">
            <span>产品认购风险揭示书</span>
            <a href="javascript:;" class="close"></a>
        </div>
        <div class="Box_protocol_cent">
            <strong class="text_align_center">尊敬的用户：（以下称“委托人”或“您”）</strong>
            <p>本《定向委托投资管理协议》系您作为委托人与受托人签署，您依赖于自身独立判断进行定向委托投资，您在做出投资决策前，应全面了解相关定向委托投资产品，谨慎决策。您应对您独立作出的决策承担全部责任，并自行承担全部风险。如发生您与受托人之间产生的相关纠纷，由您自行与受托人解决，映贝金服不承担任何责任。</p>
            <p>您确认，映贝金服仅作为交易服务平台提供信息中介服务，不对任何受托人及/或任何交易提供任何担保，无论是明示、默示或法定的。您在作出交易决策前，应通过映贝金服平台公布的信息及其他相关公告了解拟定向委托投资产品的风险收益特征，并根据自身的交易目标、风险承受能力和资产状况等谨慎决策，并自行承担全部风险。</p>
            <p>您在进行本协议项下定向委托投资可能面临的风险包括：</p>
            
            <strong>一、政策风险</strong>
            <p>因国家法律、法规、行政规章或政策发生重大调整、变化或其他不可预知的意外事件，可能导致本定向委托投资的有效性发生变化，从而可能导致委托人无法实现预期收益乃至本金遭受损失。</p>
            
            <strong>二、行业风险</strong>
            <p>定向委托投资产品所处的行业可能会受经济运行周期性变化，以及所处行业的成熟阶段、上下游供求关系、内部竞争程度、替代品威胁等因素的负面影响，从而发生不利于委托人实现预期收益的变化乃至本金遭受损失。</p>
            
            <strong>三、市场风险</strong>
            <p>资金市场供求关系的变化、货币政策、财政政策、行业政策等因素的变化，以及整体经济形势的变化，可能会对利率、汇率、资金成本和商品价格等因素产生负面影响，从而不利于委托人实现预期收益乃至本金遭受损失。</p>
            
            <strong>四、管理风险</strong>
            <p>在委托财产管理运作过程中，受托人的管理能力可能会影响定向委托投资资金的收益水平，此外，受托人对定向委托投资盈利机会的判断是否准确、投资决策所需获取的信息是否完整、投资操作是否出现失误等，都会对定向委托投资资金的预期收益形成不利影响乃至本金遭受损失。</p>
            
            <strong>五、信用风险</strong>
            <p>无论何种原因，因定向委托投资产品项下的相对方不能按时偿付本金和收益或者受托方不能按时支付定向委托投资产品项下投资本金和/或收益等原因，将可能导致委托人无法获取收益，甚至本金遭受损失。</p>
            
            <strong>六、提前到期或延期实现预期收益的风险</strong>
            <p>如因定向委托投资产品发生全部或部分提前到期情况，导致委托人与受托人之间的定向委托投资关系全部或部分提前到期，相应地委托人定向委托投资收益将按照实际持有天数计算，委托人面临提前收回投资本金、定向委托投资收益少于预期的风险；定向委托投资到期时，若发生前述信用风险，受托人将根据委托人的授权或约定，使用受托人认为适当的方式对定向委托投资产品项下的相对方进行追索，在此过程中，委托人有可能延期实现预期收益乃至本金遭受损失。</p>
            
            <strong>七、操作风险</strong>
            <p>委托人可能会面临如下操作风险：</p>
            <p>不可预测或无法控制的系统故障、设备故障、通讯故障、停电等突发事故将有可能给委托人造成一定损失；</p>
            <p>由于存在互联网和移动通讯网络的黑客恶意攻击可能性，委托人可能会遭受损失；</p>
            <p>委托人的账号及密码信息可能被盗或被泄露，客户身份可能被仿冒，委托人可能遭受因此导致的损失；</p>
            <p>委托人的网络终端设备及软件系统可能会受到非法攻击或病毒感染，导致电子合同数据无法传输或传输失败，从而遭受损失；</p>
            <p>委托人操作不当等原因可能会造成委托人损失；</p>
            <p>网上交易、热键操作完毕，未及时退出，他人进行恶意操作将可能造成委托人损失；</p>
            <p>由于委托人未能及时主动了解定向委托投资产品资产的信息，或由于通信故障、系统故障以及其他不可抗力等因素的影响，可能导致委托人无法及时做出合理决策，造成委托人损失；</p>
            <p>委托人交由他人代理交易，或长期不关注账户变化，可能致使他人恶意操作而造成委托人损失。</p>

            <strong>八、其他风险</strong>
            <p>由于自然灾害、战争、法律法规或政策等无法避免或无法控制的因素的出现，将影响市场的正常运行，从而导致定向委托投资产品损失，甚至影响该定向委托投资产品的受理、运行、偿付等的正常进行；</p>
            <p>金融市场危机、行业竞争、代理商违约等超出受托人自身直接控制能力之外的风险，也可能导致委托人利益受损；</p>
            <p>受托人因停业、解散、撤销、破产，或者被监管机构撤销相关业务许可等原因不能履行职责时，可能导致委托资产的损失；</p>
            <p>因其他意外因素和不可抗力而导致的风险。</p>
            
            <strong>以上并不能揭示定向委托投资的全部风险及市场的全部情形。您在作出交易决策前，应通过映贝金服公布的信息及其他相关公告了解拟定向委托投资产品的风险收益特征，并根据自身的交易目标、风险承受能力和资产状况等谨慎决策，并自行承担全部风险。</strong>
        </div>
    </div>
<% } %>

<% if( box && box.indexOf( "产品交易提示及免责声明" ) > -1){ %>
    <div class="Box Box_protocol Box_protocol_4">
        <div class="Box_protocol_title">
            <span>产品交易提示及免责声明</span>
            <a href="javascript:;" class="close"></a>
        </div>
        <div class="Box_protocol_cent">
            <p>委托人系依赖于委托人的独立判断在本项目项下进行定向委托投资；委托人在做出投资决策前，应全面了解相关定向委托投资标的，谨慎决策；委托人应对委托人作出的判断承担全部责任，并自行承担全部风险。如发生委托人与受托投资管理机构产生的相关纠纷，由委托人自行与受托投资管理机构解决，映贝金服不承担责任。</p>
            
            <p>映贝金服作为交易服务平台提供信息中介服务，不对任何委托人及/或任何交易提供任何担保，无论是明示、默示或法定的。委托人在做出交易决策前，应通过上海华荻资产管理有限公司/映贝金服网页端平台（网址：www.yingbeijf.com）以及手机应用端公布的信息及其他相关公告了解拟定向委托投资标的的风险收益特征，并根据自身的交易目标、风险承受能力和资产状况等谨慎决策，并自行承担全部风险。</p>
            
            <p>委托人在投资本项目时应充分了解并认可，任何通过映贝金服进行的交易并不能避免交易中各种风险的产生，受托人和映贝金服不能也没有义务为交易过程可能产生的各种风险（该部分内容以定向委托投资项目的风险揭示内容为准）负责。</p>
            
            <p>映贝金服平台提供的各种信息及资料仅供参考，委托人应依其独立判断做出决策。委托人据此进行投资交易的，产生的投资风险由委托人自行承担，映贝金服不承担任何责任。</p>
        </div>
    </div>
<% } %>

<% if(box && box.indexOf( "平台注册服务协议" ) > -1){ %>
    <div class="Box Box_protocol Box_protocol_4">
        <div class="Box_protocol_title">
            <span>平台注册服务协议</span>
            <a href="javascript:;" class="close"></a>
        </div>
        <div class="Box_protocol_cent">
           <p>平台注册服务协议</p>
        </div>
    </div>
<% } %>