<div id="Footer">
    <div class="footerContact">
        <div class="w1200 leftItem">
            <div class="left leftItem1">
                <div class="item">
                    <div class="title">
                        <strong>安全保障</strong>
                    </div>
                    <div class="link">
                        <a href="">特色风控</a>
                        <a href="">信息安全</a>
                        <a href="">资金安全</a>
                    </div>
                </div>
                <div class="item">
                    <div class="title">
                        <strong>关于我们</strong>
                    </div>
                    <div class="link">
                        <a href="">平台简介</a>
                        <a href="">品牌文化</a>
                        <a href="">联系我们</a>
                        <a href="">帮助与反馈</a>
                        <a href="">网站地图</a>
                    </div>
                </div>
            </div>
            <div class="left leftItem2">
                <i class="icon1"><b></b><span>APP下载</span></i>
                <i class="icon2"><b></b><span>微信服务号</span></i>
                <i class="icon3"><b></b><span>微信订阅号</span></i>
            </div>
            <div class="left leftItem3">
                <span>服务热线</span>
                <i>服务时间&nbsp;&nbsp;工作日&nbsp;9:00-12:00&nbsp;13:00-18:00</i>
                <strong>400-920-8779</strong>
                <i class="phnoe">公司电话：021-61117018</i>
                <i class="E-mail">邮箱：service@huadizg.com</i>
                <i>公司地址：上海市浦东新区福山路388号越秀大厦19层</i>
            </div>
        </div>
        <div class="w1200 centLink">
            <span>友情链接：</span>
            <a href="" target="_blank">映贝金融</a>
            <a href="" target="_blank">网贷之家</a>
            <a href="" target="_blank">网易新闻</a>
            <a href="" target="_blank">21CN</a>
            <a href="" target="_blank">网贷天眼</a>
            <a href="" target="_blank">融360</a>
            <a href="" target="_blank">法大大</a>
        </div>
        <div class="w1200 centCopy">
            <div class="copy">COPYRIGHT&nbsp;2016上海华荻资产管理有限公司&nbsp;ALL&nbsp;RIGHTS&nbsp;RESERVED&nbsp;沪ICP备16045359号-3</div>
            <div class="copy">市场有风险&nbsp;&nbsp;投资需谨慎</div>
        </div>
    </div>
</div>