<div id="GlobalToolbar">
    <div class="item">
        <a href="javascript:;" class="download">
            <b></b>
            <span class="text1">APP</span>
            <span class="text2">下载</span>
        </a>
        <a href="javascript:;" class="goQQ">
            <b></b>
            <span class="text1">QQ</span>
            <span class="text2">客服</span>
        </a>
        <a href="javascript:;" class="profitBox">
            <b></b>
            <span class="text1">收益</span>
            <span class="text2">计算</span>
        </a>
        <a href="javascript:;" class="goTop">
            <b></b>
            <span class="text1">回到</span>
            <span class="text2">顶部</span>
        </a>
    </div>
</div>
<!--下载app-->
<div id="GlobalToolbarImg">
    <span>下载手机客户端</span>
</div>

